*{
    font-family: Arial;
    font-size: 25px;
}
button{
    font-size: 25px;
}
button a{
    text-decoration: none;
    color: black;
}
.calculator_back{
    color: white;
}
h1{
    font-size: 1.75em;
}
[settings]{
    float: right;
    position: relative;
    bottom: 20px;
}
.dark-mode {
    background-color: #121212;
}

.dark-mode, .dark-mode a {
    color: white;
}

.light-mode a {
    color: #0ff; 
}
.neutral-mode {
    background-color: #6B6B6B;
}
